*{
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    justify-content: center;
    
}

#box{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    width: 400px;
    height: 600px;
    background-color: rgb(232, 232, 232);
}

#senha{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}